body{
    padding: 0;
    margin: 0;
}
/* Header-section Css Code Start */
.header-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),url(../images/23040340.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 76px 85px;
}
.header-body{
    text-align: center;
    color: #fff;
    padding-bottom: 51px;
}
.header-body h1{
    font-family: 'Roboto', sans-serif;
    font-size: 73px;
}
.header-body p{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    padding-bottom: 42px;
}
.donate_btn{
    color:#fff;
    background-color:#FF5959;
    padding:16px 32px;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    border: 0;
}
/* Header-section Css Code End */

/* Donate-section Css Code Start */
.donation-section{
    padding: 70px 0px;
}
.donate-heading{
    text-align: center;
}
.donate-heading h2{
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 600;
}
.donate-heading p{
    font-family: 'Poppins', sans-serif;
    color: gray;
}
.donate-pay {
    display: flex;
    padding: 45px 132px;
}
.amount {
    font-size: 30px;
    font-weight: 600;
    color: gray;
    font-family: 'Roboto', sans-serif;
    padding: 42px;
    margin-left: 3%;
    border-radius: 5px;
    background: ghostwhite;
}
#taka{
    font-size: 30px;
    font-weight: 600;
    color: #FF5959;
    background-color: #FFEEEE;
    font-family: 'Roboto', sans-serif;
    border: 2px solid #FF5959;
    padding: 42px;
    margin-left: 3%;
}
.donation-form{
    text-align: center;
    padding: 3% 0;
}
.form-control {
    border: none;
    border-bottom: 1px solid gray;
    width: 50%;
    text-align: center;
    color: #000;
    font-size: 18px;
    margin-bottom: 20px;
}
/* Donate-section Css Code End */

/* Donate-plan Css Code Start */
.donation-plan{
    padding: 0;
}
.food-plan {
    display: flex;
    padding: 40px 78px 40px 39px;
}
.plan {
    margin-left: 3%;
    width: 100%;
    padding: 40px;
    border-radius: 6px;
}
.plan h3{
    font-family: 'Poppins', sans-serif;
}
.plan p{
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    color: gray;
}
#f-one{
    background-color: #EDF5F6;
}
#f-two{
    background-color: #FFEEEE;
}
#f-three{
    background-color: #FFF4D6;
}
/* Donate-plan Css Code End */

/* Fund-section css code start */
.fund-heading{
    text-align: center;
    padding-bottom: 61px;
}
.fund-heading h1{
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
}
.fund-heading p{
    font-family: 'Poppins', sans-serif;
    color: gray;
}
.fund-create-one, .fund-create-two, .fund-create-three{
    display: flex;
    padding: 0 13%;
}
.create{
    padding: 10px;
}
.create span {
    background-color: #FF5959;
    padding: 9px 13px;
    color: #fff;
    border-radius: 5px;
}
.create h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
}
.create h4{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.create p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: gray;
    text-align: justify;
}
.f-image img{
    width: 100%;
}
/* Fund-section css code End */

/* Update-section css code start */
.update-section{
    padding: 5% 0;
}
.subscribe-part{
    text-align: center;
    padding: 0 19%;
    padding-bottom: 3%;
}
.subscribe{
    padding: 7%;
    background-color: #FFF4D6;
}
.email-field{
    background-color: #D9D9D9;
    height: 24px;
    width: 46%;
    padding: 11px;
    border: 1px solid #D9D9D9;
    border-radius: 7px 0px 0px 7px;
}
.subs-btn{
    color: #fff;
    background-color: #FF5959;
    padding: 13px 26px;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    border-radius: 0px 7px 7px 0px;
    border: 0;
}
/* Update-section css code end */