body{
    padding: 0;
    margin: 0;
}
/* Header-section Css Code Start */
.header-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),url(../images/23040340.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 76px 85px;
}
.header-body{
    text-align: center;
    color: #fff;
    padding-bottom: 51px;
}
.header-body h1{
    font-family: 'Roboto', sans-serif;
    font-size: 73px;
}
.header-body p{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    padding-bottom: 42px;
}
.donate_btn{
    color:#fff;
    background-color:#FF5959;
    padding:16px 32px;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    border: 0;
}
/* Header-section Css Code End */

/* Donate-section Css Code Start */
.donation-section{
    padding: 70px 0px;
}
.donate-heading{
    text-align: center;
}
.donate-heading h2{
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 600;
}
.donate-heading p{
    font-family: 'Poppins', sans-serif;
    color: gray;
}
.donate-pay {
    display: flex;
    padding: 45px 132px;
}
.amount {
    font-size: 30px;
    font-weight: 600;
    color: gray;
    font-family: 'Roboto', sans-serif;
    padding: 42px;
    margin-left: 3%;
    border-radius: 5px;
    background: ghostwhite;
}
#taka{
    font-size: 30px;
    font-weight: 600;
    color: #FF5959;
    background-color: #FFEEEE;
    font-family: 'Roboto', sans-serif;
    border: 2px solid #FF5959;
    padding: 42px;
    margin-left: 3%;
}
.donation-form{
    text-align: center;
    padding: 3% 0;
}
.form-control {
    border: none;
    border-bottom: 1px solid gray;
    width: 50%;
    text-align: center;
    color: #000;
    font-size: 18px;
    margin-bottom: 20px;
}
/* Donate-section Css Code End */